// function
function Main.main 1
// do statement
// function call
push constant 8000
push constant 15
call Memory.poke 2
pop temp 0 
// do statement
// function call
push constant 8001
push constant 16
push constant 1
neg
call Main.fillMemory 3
pop temp 0 
// let statement
// function call
push constant 8000
call Memory.peek 1
pop local 0
// do statement
// function call
push local 0
call Main.convert 1
pop temp 0 
// return statement 
push constant 0 
return
// function
function Main.convert 3
// let statement
push constant 1 
 neg
pop local 2
// while statement
label WHILE_START_5
push local 2
not
if-goto WHILE_END_6
// let statement
push local 1
push constant 1
add
pop local 1
// let statement
// function call
push local 0
call Main.nextMask 1
pop local 0
// if statement
push local 1
push constant 16
gt
not
not
if-goto IF_TRUE_3
// if statement
push argument 0
push local 0
and
push constant 0
eq
not
not
if-goto IF_TRUE_1
// do statement
// function call
push constant 8000
push local 1
add
push constant 1
call Memory.poke 2
pop temp 0 
goto IF_FALSE_2
label IF_TRUE_1
// do statement
// function call
push constant 8000
push local 1
add
push constant 0
call Memory.poke 2
pop temp 0 
label IF_FALSE_2
goto IF_FALSE_4
label IF_TRUE_3
// let statement
push constant 0
pop local 2
label IF_FALSE_4
goto WHILE_START_5
label WHILE_END_6
// return statement 
push constant 0 
return
// function
function Main.nextMask 0
// if statement
push argument 0
push constant 0
eq
not
if-goto IF_TRUE_7
// return statement 
push constant 1
goto IF_FALSE_8
label IF_TRUE_7
// return statement 
push argument 0
push constant 2
call Math.multiply 2
label IF_FALSE_8
return
// function
function Main.fillMemory 0
// while statement
label WHILE_START_9
push argument 1
push constant 0
gt
not
if-goto WHILE_END_10
// do statement
// function call
push argument 0
push argument 2
call Memory.poke 2
pop temp 0 
// let statement
push argument 1
push constant 1
sub
pop argument 1
// let statement
push argument 0
push constant 1
add
pop argument 0
goto WHILE_START_9
label WHILE_END_10
// return statement 
push constant 0 
return
